header {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 110px;
}



.container-nav {
    padding: 44px 10px;
}

.header__logo {
    margin-right: 115px;
}

.search__btn button {
    border: none;
}

.search__btn input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    opacity: 20%;
}

.lang__select {
    border: none;
    margin-left: 114px;
    font-weight: 700;
}