header {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-nav {
    padding: 44px 12px;

}

.header__logo {
    margin-right: 115px;
}

.search__btn button {
    border: none;
}

.search__btn input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    max-width: 150px;
}

.lang__select-inner {
    border: none;
    margin-left: 114px;
    font-weight: 700;
}

@media(max-width:425px) {
    .container-nav {
        padding: 22px 12px;
    }
}


@media(hover:hover) {
    .btn:hover {
        background: #5DB7DE;
    }
}

@media(hover:none) {
    .btn:active {
        background: #5DB7DE;
    }
}